@Master['master.html']
@Section['Content']


<div data-role="collapsible-set" data-content-theme="d" id="set">
    <div data-role="collapsible" id="set1" data-collapsed="false">
        <h3>Ready</h3>
        <input name="sliderDcMotor" id="sliderDcMotor" min="-100" max="100" value="0" type="range" data-bind="value: pwmDcMotor">
    </div>
</div>

<div data-role="collapsible-set" data-content-theme="d" id="set">
    <div data-role="collapsible" id="set1" data-collapsed="false">
        <h3>Aim</h3>
        <div data-role="controlgroup" data-type="horizontal">
            <a href="#" data-role="button" data-icon="arrow-l" data-iconpos="left" data-bind="click:rotateTurret.bind($data, 300)">Left</a>
            <a href="#" data-role="button" data-icon="arrow-r" data-iconpos="right" data-bind="click:rotateTurret.bind($data, -300)">Right</a>
        </div>
    </div>
</div>

<div class="ui-grid-a">
    <a href="#" data-role="button" data-inline="true" data-theme="e" data-bind="click:fire">Fire!</a>
</div>
    @EndSection

    @Section['Scripts']
<script>


    function piRemoteViewModel() {
        var self = this;
        this.launcherHubProxy = $.connection.launcherHub;
        var connected = false;
        this.throttleRateLimitMs = 500;
        this.pwmDcMotor = ko.observable();

        this.pwmLed = ko.observable();

        this.init = function () {

            this.launcherHubProxy.server.ping()
                .done(this.handlePingResult)
                .fail(this.handleError);

            connected = true;
        }

        this.handlePingResult = function () {
            console.log("ping'd server ok");
        }

        this.handleError = function (error) {
            console.warn(error);
        }
        
        this.sendDcMotor = function () {
            if (connected) {
                self.launcherHubProxy.server.setMotor(self.pwmDcMotor())
                    .fail(self.handleError);
            }
        };
        
        this.rotateTurret = function (steps) {
            if (connected) {
                self.launcherHubProxy.server.rotateTurret(steps)
                    .fail(self.handleError);
            }
        };
        
        this.fire = function () {
            if (connected) {
                self.launcherHubProxy.server.fire()
                    .fail(self.handleError);
            }
        };

        this.throttledSendDcMotor = _.throttle(self.sendDcMotor, self.throttleRateLimitMs);


        this.pwmDcMotor.subscribe(self.throttledSendDcMotor);
    }


    $(document).ready(function () {

        var viewModel = new piRemoteViewModel();
        ko.applyBindings(viewModel);

        $.connection.hub.logging = true;
        $.connection.hub.start({ transport: 'serverSentEvents' }).done(function () {
            viewModel.init();
        });
    });
</script>
    @EndSection
