<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>RPi.Nancy Remote</title>
    <link href="/Content/jquery.mobile-1.3.2.min.css" rel="stylesheet" />
    <link href="/Content/jquery.mobile.theme-1.3.2.min.css" rel="stylesheet" />
</head>
<body>
    @Section['Content'];

    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/jquery.mobile-1.3.2.js"></script>
    <script src="/Scripts/jquery.signalR-2.0.1.js"></script>
    <script src="/Scripts/knockout-3.0.0.debug.js"></script>
    <script src="/signalr/hubs"></script>
</body>
</html>
